# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual Environments
venv/
env/
ENV/
.venv/

# Database / SQLite local test files
*.sqlite3
*.db

# IDEs
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
uvicorn.log